<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ page.popular_text.header_text }}</h2>
        <p>{{ page.popular_text.body_text }}</p>
      </div>
    </div>
  </div>
  <div class="container-wrap">
    <div class="row no-gutters d-flex">
      {% for pop_itm in page.popular_catalog %}
        <div class="col-lg-4 d-flex ftco-animate">
          <div class="services-wrap d-flex">
            <a href="#" class="img" style="background-image: url({{ pop_itm.img }});"></a>
            <div class="text p-4">
              <h3>{{ pop_itm.header_text }}</h3>
              <p>{{ pop_itm.body_text }}</p>
              <a href="{{ pop_itm.button_url }}" class="ml-2 btn btn-white btn-outline-white">{{ pop_itm.button_text }}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

