<section class="home-slider owl-carousel img" style="background-color:#000;">
  {% for sl in page.slider %}
  <div class="slider-item" style="background-image: url({{ sl.img }});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
        <div class="col-md-8 col-sm-12 ftco-animate">
          <h1 class="mb-4">Nik.S <span>ON</span> - {{ sl.first_text }}</h1>
          <p class="mb-4 mb-md-5">{{ sl.second_text }}</p>
          <p><a href="{{ sl.button_url }}" class="btn btn-primary p-3 px-xl-4 py-xl-3">{{ sl.button_text }}</a></p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>