<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/ru">
      <img src="/assets/images/logo.svg" width="201" height="34" alt="{{ site.title }}">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i> <!-- Меню -->
      </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        {% if page.lang == "ru" %}
          {% for mitm in site.menu_ru %}
            <li class="nav-item"><a href="{{ mitm.url }}" class="nav-link">{{ mitm.text }}</a></li>
          {% endfor %}
            <li class="nav-item"><a href="/ru" class="nav-link lang act">RU</a></li>
            <li class="nav-item lang"><a href="/" class="nav-link lang">UA</a></li>
        {% endif %}
        {% if page.lang == "ua" %}
          {% for mitm in site.menu_ua %}
            <li class="nav-item"><a href="{{ mitm.url }}" class="nav-link">{{ mitm.text }}</a></li>
          {% endfor %}
            <li class="nav-item"><a href="/ru" class="nav-link lang">RU</a></li>
            <li class="nav-item lang"><a href="/" class="nav-link lang act">UA</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>