<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description_ru }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include ru/index-head.html %}	
  </head>
  <body>
{% include ru/index-nav.html %}
{% include ru/index-slider-bottom.html %}
<section class="contact-section">
  <div class="container mt-5">
    <div class="row block-9">
      <div class="col-md-6 contact-info ftco-animate">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h2 class="h4">Контактная информация</h2>
          </div>
          <div class="col-md-12 mb-3">
            <p><span>Адрес:</span> {{ site.adress_ru }}</p>
          </div>
          <div class="col-md-12 mb-3">
            <p><span>Телефон:</span> <a href="tel://{{ site.phone_one }}">{{ site.phone_one }}</a></p>
          </div>
          <div class="col-md-12 mb-3">
            <p><span>Вайбер:</span> <a href="tel://{{ site.phone_viber }}">{{ site.phone_viber }}</a></p>
          </div>
          <div class="col-md-12 mb-3">
            <p><span>Email:</span> <a href="mailto:{{ site.mail }}">{{ site.mail }}</a></p>
          </div>
          <div class="col-md-12 mb-3">
            <p><span>Сайт:</span> <a href="http://nikson.org.ua">nikson.org.ua</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 ftco-animate">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.681183905814!2d35.14052031588498!3d49.45274246662684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d844c7cc94cccf%3A0x92b035350f2bdf22!2z0YPQuy4g0JvQtdC90LjQvdCwLCAzNCwg0JrQsNGA0LvQvtCy0LrQsCwg0J_QvtC70YLQsNCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDM5NTAw!5e0!3m2!1sru!2sua!4v1584346468014!5m2!1sru!2sua" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>
{% include ru/index-popular-goods.html %}
{% include ru/footer.html %}
{% include inscripts.html %}
  </body>
</html>
