<!DOCTYPE html>{% assign cat = site.products_categories | where: "categorie", page.categorie | first %}
<html lang="{{ page.lang }}">
  <head>
    <title>{{ site.title }} - Продукція - {% if page.categorie == "popular" %} Популярна продукція{% else %}{{ cat.categorie_ua }}{% endif %} - {{ page.title_small }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include ua/index-head.html %}	
  </head>
  <body>
{% include ua/index-nav.html %}
<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(/assets/images/products/{{page.categorie}}/head_{{page.title}}.jpg); background-position: 50% 50%" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
          <div class="col-md-12 col-sm-12 ftco-animate">
            <h2 class="mb-2">Nik.S <span>ON</span> - {{ page.title_small }}</h2>
            <p class="mb-md-2">{{ page.title_text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include ua/index-slider-bottom.html %}
<section class="ftco-menu">
  <div class="container-fluid">
    <div class="row d-md-flex">
      <div class="col-lg-4 ftco-animate f-menu-img mb-5 mt-5 fadeInUp ftco-animated">
        <div class="col-md-12 nav-link-wrap mb-5">
          <div class="nav ftco-animate nav-pills fadeInUp ftco-animated" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link{% if page.categorie == "popular" %} active{% endif %}" href="/products/">Популярна продукція</a>
            {% for categorie in site.products_categories %}
              <a class="nav-link{% if categorie.categorie == page.categorie %} active{% endif %}" href="{{ categorie.url_ua }}">{{ categorie.categorie_ua }}</a>
            {% endfor %}
          </div>
        </div>

        <!-- <div class="col-md-12 mb-5">
          <div class="nav ftco-animate nav-pills fadeInUp ftco-animated" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <img src="/assets/images/products/{{page.categorie}}/sm_{{page.title}}.jpg" class="img-fluid" alt="Responsive image">
          </div>
        </div> -->

        <!-- <div class="col-md-12 img mb-3">
          <img src="/assets/images/products/{{page.categorie}}/sm_{{page.title}}.jpg" class="card-img-top" alt="...">
        </div> -->

      </div>
      <div class="col-lg-8 p-sm-5 ftco-animate p-md-5 p-4 fadeInUp ftco-animated">
        <div class="row">
          <div class="col-md-12 d-flex align-items-center">
            <div class="row">
              <h3 style="padding-bottom: 20px;">{{ page.title_small }}</h3>
              <div class="text-justify">{{ page.description }}</div>
            </div>
          </div>
        </div>
        {% if page.specifications %}
        <div class="row">
          <h3 style="padding-bottom: 20px; padding-top: 30px;">Характеристики товару</h3>
          <div class="col-md-12 spec">
            {% for sp in page.specifications %}
            <div class="row itm">
              <div class="col-md-5 frst align-top">{{ sp.head_text }}</div>
              <div class="col-md-6 scnd align-top">{{ sp.body_text }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="row">
          <h3 style="padding-bottom: 20px; padding-top: 30px;">Фото товару</h3>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 ftco-animate fadeInUp ftco-animated">
            <a href="/assets/images/products/{{page.categorie}}/sm_{{page.title}}.jpg" class="image-popup gallery img d-flex align-items-center" style="background-image: url(/assets/images/products/{{page.categorie}}/sm_{{page.title}}.jpg);">
              <div class="icon mb-4 d-flex align-items-center justify-content-center">
                <span class="icon-search"></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include ua/index-popular-goods.html %}
{% include ua/footer.html %}
{% include inscripts.html %}
  </body>
</html>
