<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description_ua }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include ru/index-head.html %}	
  </head>
  <body>

{% include ua/index-nav.html %}
{% include ua/index-slider.html %}
{% include ua/index-slider-bottom.html %}
{% include ua/index-why.html %}
{% include ua/index-about.html %}
{% include ua/index-popular-goods.html %}
{% include ua/footer.html %}
{% include inscripts.html %}

  </body>
</html>
