<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description_ru }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% include ru/index-head.html %}	
  </head>
  <body>

{% include ru/index-nav.html %}
{% include ru/index-slider.html %}
{% include ru/index-slider-bottom.html %}
{% include ru/index-why.html %}
{% include ru/index-about.html %}
{% include ru/index-popular-goods.html %}
{% include ru/footer.html %}
{% include inscripts.html %}

  </body>
</html>
