<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(assets/images/products/sun-dried-meat-slices.jpg); background-position: 50% -77.6875px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
            <div class="col-md-8 col-sm-12 ftco-animate">
              <h1 class="mb-4"><a href="#" target="_blank" rel="noopener noreferrer">Мясные слайсы вяленые</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(assets/images/products/dried-meat-slices.jpg); background-position: 50% -77.6875px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
            <div class="col-md-8 col-sm-12 ftco-animate">
              <h1 class="mb-4"><a href="#" target="_blank" rel="noopener noreferrer">Мясные слайсы сушеные</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(assets/images/products/dried-mushrooms.jpg); background-position: 50% -77.6875px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
            <div class="col-md-8 col-sm-12 ftco-animate">
              <h1 class="mb-4"><a href="#" target="_blank" rel="noopener noreferrer">Сушеные грибы</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(assets/images/products/dried-vegetables.jpg); background-position: 50% -77.6875px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
            <div class="col-md-8 col-sm-12 ftco-animate">
              <h1 class="mb-4"><a href="#" target="_blank" rel="noopener noreferrer">Сушеные овощи</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(assets/images/products/); background-position: 50% -77.6875px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row slider-text justify-content-end align-items-center" data-scrollax-parent="true">
            <div class="col-md-8 col-sm-12 ftco-animate">
              <h1 class="mb-4"><a href="#" target="_blank" rel="noopener noreferrer">Сушеные фрукты</a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>